aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
countryinfo==0.1.2
Django==5.2.1
frozenlist==1.5.0
greater_context==2018.12.16
gunicorn==26.0.0
idna==3.10
magic-filter==1.0.12
multidict==6.4.3
packaging==26.2
pika==1.3.2
pillow==11.2.1
propcache==0.3.1
pydantic==2.11.3
pydantic_core==2.33.1
pyTelegramBotAPI==4.27.0
python-dotenv==1.1.0
queue8==0.1.3
queued==2019.12.24
requests==2.32.3
simplestackscript==0.2.10
soupsieve==2.6
sqlparse==0.5.3
strict_functions==2020.2.4
typing-inspection==0.4.0
typing_extensions==4.13.0
urllib3==2.3.0
whitenoise==6.12.0
yarl==1.20.0
